<launch>

  <node pkg="communication" type="serialport" name="serialport" output="screen" launch-prefix="gnome-terminal -e">
  </node>

  <include file="$(find lslidar_c16_decoder)/lslidar_c16.launch"/>
  <include file="$(find vslam_location)/vslam_pos.launch"/>

  <node pkg="planner_test" type="set_goals" name="set_goals" output="screen" launch-prefix="gnome-terminal -e">
  </node>

</launch>
